<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="db.sqlmapper">
 	<select id="selectMemberVO" resultType="vo.MemberVO" parameterType="String">
 		select * from member where name like #{name}
 	</select>
 	
 	<insert id="insertMemberVO" parameterType="vo.MemberVO">
 		insert into member(id,pass,name,age,grade) values(#{id},#{pass},#{name},#{age},#{grade})
 	</insert>
</mapper>